<div class="row">
    <div class="col-md-6">
        <h1 class="btn-toolbar">
            @ViewBag.Title
            <a href="@Url.Action("Add")" class="btn btn-primary btn-md pull-right">
                <span class="glyphicon glyphicon-plus"></span>Add
            </a>
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary btn-md pull-right">
                <span class="glyphicon glyphicon-step-backward"></span>Back
            </a>
        </h1>
    </div>
</div>
