@model AccountTrackerWebApp.ViewModels.ViewModel

@{
    ViewBag.Title = "Add Account";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <!--TODO: Issue - Validation Summary is showing even when there're no issues-->
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert - alert-danger" })

    @Html.Partial("_AccountForm");

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
